body {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 18px;
  width: 100%;
}
.logoutUrl {
    padding: 8px;
}
.table thead td {
    font-weight: 700;
}
.report-form {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: #eee 1px solid;
}
.form-inline .form-group {
    margin-right: 20px;
    margin-bottom: 20px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}